---
layout: page
title: Categories
permalink: /categories/
---

{% assign rawcategories = "" %}
{% for post in site.posts %}
	{% assign tcategories = post.categories | join:'|' | append:'|' %}
	{% assign rawcategories = rawcategories | append:tcategories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% assign categories = "" %}
{% for category in rawcategories %}
	{% if category != "" %}
		{% if categories == "" %}
			{% assign categories = category | split:'|' %}
		{% endif %}
		{% unless categories contains category %}
			{% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="posts">
  {% for category in categories %}
    <div class="post py2">
			<a href=
			{% if category == 'microblog' %}
				"/microblog"
			{% else %}
      	"/categories/{{ category }}"
			{% endif %}
			 class="post-link"><h3 class="post-title">{{ category }}</h3></a>
			<p class="post-meta h5">{{ site.categories[category].size }} post{% if site.categories[category].size > 1 %}s{% endif %}</p>
    </div>
  {% endfor %}
</div>
