---
layout:       page
title:        Microblog
permalink:    /microblog/
tags:         writing
---
<div class="post">
  <div class="post-content">
    <div class="posts">
      {% assign posts = site.posts %}
      {% assign related_ids = "|" %}
      {% for post in posts %}
        {% if post.categories contains "microblog" %}
          {% assign related_ids  = related_ids | append: post.id | append: "|" %}
        {% endif %}
      {% endfor %}
      {% assign related_ids = related_ids | split:'|' %}
      {% assign related_ids = related_ids | slice: 0, 11 %}
      {% for post in posts %}
        {% if related_ids contains post.id %}
          <div class="post py2 microblog">
            <p class="post-title">{{ post.content }}</p>
            <a href="{{ post.url }}"><p class="h5">➞ {{ post.date | date: site.date_time }}</p></a>
            <div class="post-meta">
              {% for category in post.categories %}
                {% if category != 'microblog' %}
                  <a href="/categories/{{ category }}" class="category">{{ category }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="post py1">
        <a href="/microblog-archive" class="button button-blue">Microblog archive »</a>
      </div>
    </div>
  </div>
</div>
