
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid $border-color;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-header {
  color: $text;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  display: inline-block;
}

.post-link {
  color: $title;
}

.post-link:hover {
  color: $title-hover;
}

.post-link,
.post-link:hover {
  background-image: none;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: $sub-text;
  font-style: italic;
}

.post-meta a {
  color: $sub-text;
  text-decoration: none;
  background-image: none;
}
.post-meta a:hover,
.post-meta a:focus,
.post-meta a:active {
  color: $link-hover-color;
  text-decoration: underline;
}

span.post-meta {
  margin-left: .5rem;
}

.post-meta .category {
    display: inline-block;
    margin-right: .25rem;
    background-color: $category-background;
    text-shadow: none;
    padding: .125rem .5rem;
    border-radius: .25rem;
    vertical-align: text-bottom;
}

.post-meta .category:hover,
.post-meta .category:focus,
.post-meta .category:active {
  color: $text;
  text-decoration: none;
  background-color: $button-blue;
}

.related-post-title {
  border-bottom: thin solid $border-color;
  margin-top: 3rem;
}

.post-external-links {
  border-top: thin solid $border-color;
  margin-top: 3rem;
  padding-top: 1rem;
}

.badges {
  margin-bottom: 1rem;
}
