---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="h2"><a href=".." class="post-link">Categories</a> / {{ page.title }}</h1>
  </header>
  <article class="post-content">
    <div class="posts">
      {% if page.type == "app" %}
        {% assign posts = (site.apps | sort: 'date') | reverse %}
      {% elsif page.type == "source" %}
        {% assign posts = (site.sources | sort: 'date') | reverse %}
      {% else %}
        {% assign posts = site.categories.[page.category] %}
      {% endif %}
      {% for post in posts %}
        {% if post.categories contains page.category %}
          {% if post.categories contains "microblog" %}
            <div class="post py2 microblog">
              <p class="post-title">{{ post.content }}</p>
              {% if post.image %}
                <img src="/images/microblog/{{ post.image }}" class="small">
              {% endif %}
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><p class="post-meta h5">{{ post.date | date: site.date_time }}</p></a>
            </div>
          {% else %}
            <div class="post py2">
              <p class="post-meta h5">{{ post.date | date: site.date_format }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="post-title">{{ post.title }}</h3></a>
              <p class="post-summary">
                {% if post.summary %}
                  {{ post.summary }}
                {% else %}
                  {{ post.excerpt }}
                {% endif %}
              </p>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </article>
</div>
