---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="h2"><a href=".." class="post-link">Categories</a> / {{ page.title }}</h1>
  </header>
  <div class="post-content">
  {{ content }}
  </div>
  <div class="posts">
    {% if page.type == "app" %}
      {% assign posts = (site.apps | sort: 'date') | reverse %}
    {% elsif page.type == "source" %}
      {% assign posts = (site.sources | sort: 'date') | reverse %}
    {% else %}
      {% assign posts = site.categories.[page.category] %}
      	<p class="post-meta h3">{{ site.categories.[page.category].size }} posts</p>
    {% endif %}
    {% for post in posts %}
      {% if post.categories contains page.category %}
        {% if post.categories contains "microblog" %}
          <div class="post py2 microblog">
            <p class="post-title">{{ post.content }}</p>
            <a href="{{ post.url }}"><p class="h5">➞ {{ post.date | date: site.date_time }}</p></a>
            <div class="post-meta">
              {% for category in post.categories %}
                <a href="{% if category != 'microblog' %}/categories{% endif %}/{{ category }}" class="category">{{ category }}</a>
              {% endfor %}
              {% for tag in post.tags %}
                <a href="/tags/{{ tag }}" class="tag"><span class="fa fa-tag"></span><span>{{ tag }}</span></a>
              {% endfor %}
              {% if post.external_link %}
                <span class="social-icons"><a class="fa fa-external-link" href="{{ post.external_link }}" target="_blank"></a></span>
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="post py2">
            <p class="post-meta h5">{{ post.date | date: site.date_format }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="post-title">{{ post.title }}</h3></a>
            <p class="post-summary">
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </p>
            <div class="post-meta">
              {% for category in post.categories %}
                <a href="{% if category != 'microblog' %}/categories{% endif %}/{{ category }}" class="category">{{ category }}</a>
              {% endfor %}
              {% for tag in post.tags %}
                <a href="/tags/{{ tag }}" class="tag"><span class="fa fa-tag"></span><span>{{ tag }}</span></a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
