---
layout: default
---

<div class="post-content">
  {{ content }}
  <div class="post-meta">{{ page.date | date: site.date_time }}</div>
  <div class="post-meta">
    {% for category in page.categories %}
      {% if category != 'microblog' %}
        <a href="/categories/{{ category }}" class="category">{{ category }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% if page.amazon_link or page.audible_link %}
  <div class="post-external-links">
   {% if page.amazon_link %}
     <a href="{{ page.amazon_link }}" class="button button-blue"><span class="fa fa-amazon"></span><span class="title">View on Amazon</span></a>
    {% endif %}
  </div>
{% endif %}

{% include post_pagination.html %}
